<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Cook Graph</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Cook Graph</h1>
<h2>Search</h2>
<label>
    <input type="text" />
    <button type="submit">Search</button>
</label>
<h3>Results</h3>
<table>
    <thead>
    <tr>
        <th th:text="#{msg.name}" />
        <th th:text="#{msg.description}" />
        <th th:text="#{msg.ingredients}" />
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe, iStat : ${recipesPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${recipe.name}" />
        <td th:text="${recipe.description}" />
        <td th:text="${recipe.ingredients}" />
    </tr>
    </tbody>
</table>
<div th:if="${recipesPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/(size=${recipesPage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==recipesPage.number + 1} ? active"></a>
</div>
</body>
</html>